// _base.scss

main,
header,
footer,
article,
section,
aside,
details,
summary {
  display: block;
  margin: var(size(spacer)) auto;
}

body {
  background-color: color(background);
}

main {
  width: 100%;
  margin: var(size(spacer)) auto;
}

header {
  width: 100%;
  padding: var(padding(xl)) 0;
}

footer {
  border-top: 1px solid color(primary, dark);
  padding: var(padding(xs)) 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

@each $name, $size in map-get($sizes, viewport) {
  @media (min-width: size(viewport, $name, true)) {
    /* viewport min-width: #{size(viewport, $name, true)} */
    main {
      /* main width: #{size(container, $name, true)} */
      width: var(size(container, $name));
    }
  }
}
