// button.scss

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background-color: color(primary-base);
  border-color: color(primary-dark);
  border-radius: 5px;
  margin-bottom: var(padding(sm));
  color: color(background);
  padding: var(padding(sm)) var(padding(md));
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
