// _typography.scss

html {
  font-size: var(--font-size);
  // Magic:
  @media (max-width: 1000px) {
    font-size: calc(12px + 0.4vw);
  }
}

body {
  color: color(text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

small {
  color: color(secondary-base);
  vertical-align: bottom;
  font-size: 75%;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

ul, ol {
  padding-left: var(padding(md));
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

ul li, ol li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 0.1rem;
}

ol ul, ul ol, ul ul, ol ol {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ol ul li, ul ol li, ul ul li, ol ol li {
  list-style: disc;
}

pre, code {
  font-family: var(--font-monospace);
}

pre {
  background-color: color(grey-light);
  display: block;
  padding: var(padding(lg));
  overflow-x: auto;
}

code {
  font-size: 0.9rem;
  padding: 0 var(padding(xs));
  background-color: color(grey-light);
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}