// _variables.scss

// color variable map in Sass
$colors: (
  text: #222,
  background: #fff,
  primary: (
    base: #ffbb00,
    light: lighten(#ffbb00, 15%),
    dark: darken(#ffbb00, 15%)
  ),
  secondary: (
    base: #0969a2,
    light: lighten(#0969a2, 15%),
    dark: darken(#0969a2, 15%)
  )
);

// size variable map in Sass
$sizes: (
  gutter: 30px,
  spacer: 15px,
  container: (
    sm: 750px,
    md: 970px,
    lg: 1170px
  ),
  viewport: (
    sm: 768px,
    md: 992px,
    lg: 1200px
  )
);

// variable prefixes for CSS4 output
$color-prefix: --color-;
$size-prefix: --size-;
