// _variables.scss

// colors
$colors: (
  text: #222,
  background: #fff,
  primary: (
    base: #333333,
    light: lighten(#333333, 15%),
    dark: darken(#333333, 15%)
  ),
  secondary: (
    base: #0969a2,
    light: lighten(#0969a2, 15%),
    dark: darken(#0969a2, 15%)
  )
);

// sizes
$sizes: (
  gutter: 30px,
  spacer: 15px,
  container: (
    sm: 750px,
    md: 970px,
    lg: 1170px
  ),
  viewport: (
    sm: 768px,
    md: 992px,
    lg: 1200px
  )
);

$paddings: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 20px,
  xl: 40px
);

// typography
$sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;
$serif: Georgia, Times, 'Times New Roman', serif !default;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-family: $sans-serif !default;

$font-size-base: 16px !default;
$line-height-base: 1.5 !default;

// variable prefixes for CSS4 output
$color-prefix: --color-;
$size-prefix: --size-;
$padding-prefix: --padding-;
